name: "format"
on: 
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
    - name: Install dependencies
      run: |
        cd src
        npm install
    - name: Format
      run: |
        cd src
        npm run format
    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v4.1.2
      with:
        commit_message: Formatted code using prettier
        branch: ${{ github.head_ref }}
